# Basic EDA with Pandas

In [1]:
import pandas as pd

In [2]:
DataFrame = pd.read_csv('../Data/hotel_bookings.csv')

In [3]:
DataFrame

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [4]:
df_shape = pd.DataFrame([DataFrame.shape], columns=['jumlah baris', 'jumlah kolom'])
df_shape

   jumlah baris  jumlah kolom
0        119390            32

In [5]:
DataFrame.shape

(119390, 32)

In [6]:
# .head()

DataFrame.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [7]:
# .tail()

DataFrame.tail(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,140.75,0,1,Check-Out,2017-09-04
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-05
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,2017-09-05
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,No Deposit,42.0,NaN,0,Transient,87.60,0,0,Check-Out,2017-09-06
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,2017-09-06
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [8]:
# .sample

DataFrame.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
116524,City Hotel,0,15,2017,July,29,20,0,1,3,...,No Deposit,14.0,NaN,0,Transient,285.0,0,1,Check-Out,2017-07-21
62080,City Hotel,1,46,2017,January,1,1,2,0,2,...,No Deposit,NaN,NaN,0,Transient-Party,65.0,0,0,Canceled,2016-11-18
16638,Resort Hotel,0,47,2015,August,36,30,2,4,2,...,No Deposit,241.0,NaN,0,Transient,100.7,1,1,Check-Out,2015-09-05
63967,City Hotel,1,18,2017,February,8,25,1,1,2,...,No Deposit,9.0,NaN,0,Transient,203.0,0,0,Canceled,2017-02-18
69701,City Hotel,1,173,2017,June,23,4,2,2,2,...,Non Refund,37.0,NaN,0,Transient,120.0,0,0,Canceled,2016-12-13

In [9]:
# .columns
df_columns = pd.DataFrame(DataFrame.columns, columns=['Nama Kolom'])
df_columns

                        Nama Kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [10]:
# .dtypes
df_tipeData = pd.DataFrame(DataFrame.dtypes, columns=['Tipe Data'])
df_tipeData

                               Tipe Data
hotel                             object
is_canceled                        int64
lead_time                          int64
arrival_date_year                  int64
arrival_date_month                object
arrival_date_week_number           int64
arrival_date_day_of_month          int64
stays_in_weekend_nights            int64
stays_in_week_nights               int64
adults                             int64
children                         float64
babies                             int64
meal                              object
country                           object
market_segment                    object
distribution_channel              object
is_repeated_guest                  int64
previous_cancellations             int64
previous_bookings_not_canceled     int64
reserved_room_type                object
assigned_room_type                object
booking_changes                    int64
deposit_type                      object
agent                            float64
company                          float64
days_in_waiting_list               int64
customer_type                     object
adr                              float64
required_car_parking_spaces        int64
total_of_special_requests          int64
reservation_status                object
reservation_status_date           object

In [11]:
# .info()
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [12]:
DataFrame['agent']

0           NaN
1           NaN
2           NaN
3         304.0
4         240.0
          ...
119385    394.0
119386      9.0
119387      9.0
119388     89.0
119389      9.0
Name: agent, Length: 119390, dtype: float64

In [13]:
# .describe()
DataFrame.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

## Data Cleaning
missing value

In [14]:
# .isnull().sum()
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [15]:
# kita ubah ke persentase
DataFrame.isnull().sum() / len(DataFrame) * 100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [16]:
# mengisi datanya -> Unknown -> .fillna()
DataFrame['country'] = DataFrame['country'].fillna('Unknown')

In [17]:
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [18]:
DataFrame['children'].sample(5)

35946    0.0
56093    0.0
61244    0.0
50993    0.0
75799    0.0
Name: children, dtype: float64

In [19]:
DataFrame['children'] = DataFrame['children'].fillna(0)

In [20]:
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [21]:
DataFrame['agent'] = DataFrame['agent'].fillna(0)

In [22]:
DataFrame.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                                  0
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [23]:
DataFrameNew = DataFrame.drop(columns=['company'], axis=1)

In [24]:
DataFrameNew.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [25]:
# Duplicate Data -> .duplicated()
DataFrameNew.duplicated().sum()

np.int64(32001)

In [26]:
DataFrameNew[DataFrameNew.duplicated].head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,No Deposit,250.0,0,Transient,84.67,0,1,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,0,No Deposit,250.0,0,Transient,137.00,0,1,Check-Out,2015-07-07
138,Resort Hotel,1,5,2015,July,28,5,1,0,2,...,0,No Deposit,240.0,0,Transient,97.00,0,0,Canceled,2015-07-01
200,Resort Hotel,0,0,2015,July,28,7,0,1,1,...,0,No Deposit,240.0,0,Transient,109.80,0,3,Check-Out,2015-07-08
219,Resort Hotel,1,1,2015,July,28,8,0,1,2,...,0,No Deposit,0.0,0,Transient,104.72,0,1,Canceled,2015-07-08
256,Resort Hotel,0,91,2015,July,28,10,0,2,2,...,0,No Deposit,240.0,0,Transient,73.80,0,1,Check-Out,2015-07-12
261,Resort Hotel,0,30,2015,July,28,10,2,2,2,...,0,No Deposit,0.0,0,Transient-Party,197.00,0,1,Check-Out,2015-07-14
353,Resort Hotel,0,98,2015,July,29,13,1,1,2,...,0,No Deposit,240.0,0,Transient-Party,82.00,0,3,Check-Out,2015-07-15
372,Resort Hotel,0,40,2015,July,29,13,1,4,2,...,0,No Deposit,250.0,0,Transient,120.00,0,2,Check-Out,2015-07-18

In [27]:
# drop_duplicates()
DataFrameNew.drop_duplicates(inplace=True)

In [28]:
DataFrameNew

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

# Aggregation & Feature Engineering

In [29]:
# df.groupby()
DataFrameNew.groupby('hotel')['is_canceled'].value_counts().unstack()

is_canceled       0      1
hotel
City Hotel    37377  16049
Resort Hotel  25987   7976

In [30]:
df_columns

                        Nama Kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [31]:
DataFrameNew.groupby('hotel')['adr'].mean()

hotel
City Hotel      110.985270
Resort Hotel     99.030296
Name: adr, dtype: float64

In [32]:
DataFrameNew.groupby(['arrival_date_year', 'hotel'])['adr'].mean().unstack()

hotel              City Hotel  Resort Hotel
arrival_date_year
2015                89.813927     94.450802
2016               107.896446     90.653587
2017               121.986516    113.020094

In [33]:
DataFrameNew.groupby('customer_type')['lead_time'].aggregate(['min', 'max', 'mean', 'count'])

                 min  max        mean  count
customer_type
Contract           0  532  109.225231   3139
Group              0  468   51.584559    544
Transient          0  737   73.431274  71982
Transient-Party    0  542  113.057489  11724

## Feature Engineering
nambah data dari data yang kita miliki

In [34]:
DataFrameNew['total_nights'] = DataFrameNew['stays_in_weekend_nights'] + DataFrameNew['stays_in_week_nights']

In [35]:
DataFrameNew[['total_nights', 'stays_in_weekend_nights', 'stays_in_week_nights']].sample(10)

        total_nights  stays_in_weekend_nights  stays_in_week_nights
26027              5                        2                     3
117554             4                        0                     4
21010              1                        1                     0
85031              4                        2                     2
35002             10                        3                     7
116572             1                        0                     1
56740              2                        1                     1
26871              7                        2                     5
71304             11                        4                     7
112732             3                        0                     3

In [36]:
df_columns

                        Nama Kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [37]:
DataFrameNew['is_repeated_guest_category'] = DataFrameNew['is_repeated_guest'].apply(lambda x: 'Yes' if x == 1 else 'No')

In [38]:
DataFrameNew[['is_repeated_guest_category', 'is_repeated_guest']].sample(10)

       is_repeated_guest_category  is_repeated_guest
57177                          No                  0
66073                          No                  0
21101                          No                  0
101533                         No                  0
73530                          No                  0
29347                          No                  0
31091                          No                  0
56291                          No                  0
100558                         No                  0
21898                          No                  0

In [39]:
DataFrameNew['reservation_status_date'] = pd.to_datetime(DataFrameNew['reservation_status_date']) #string to bject datetime
# Mengekstrak nama bulan dari tanggal tersebut.
DataFrameNew['month_of_reservation_status'] = DataFrameNew['reservation_status_date'].dt.month_name()
DataFrameNew[['reservation_status_date', 'month_of_reservation_status']].head()

  reservation_status_date month_of_reservation_status
0              2015-07-01                        July
1              2015-07-01                        July
2              2015-07-02                        July
3              2015-07-02                        July
4              2015-07-03                        July

In [40]:
DataFrameNew['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 87389, dtype: datetime64[ns]

In [41]:
DataFrameNew['arrival_date_month']

0           July
1           July
2           July
3           July
4           July
           ...
119385    August
119386    August
119387    August
119388    August
119389    August
Name: arrival_date_month, Length: 87389, dtype: object

In [42]:
# .map()
month_mapping = {
    'January': 1, 'February': 2, 'March': 3,
    'April': 4, 'May': 5, 'June': 6,
    'July': 7, 'August': 8, 'September': 9,
    'October': 10, 'November': 11, 'December': 12
}

DataFrameNew['arrival_date_month'] = DataFrameNew['arrival_date_month'].map(month_mapping)

In [43]:
DataFrameNew['arrival_date_month']

0         7
1         7
2         7
3         7
4         7
         ..
119385    8
119386    8
119387    8
119388    8
119389    8
Name: arrival_date_month, Length: 87389, dtype: int64

In [44]:
# (boolean) -> lamda, (multiclas) -> map

In [45]:
# DataFrameNew['arrival_in_jan'] = DataFrameNew['arrival_date_month'].apply(lambda x: 1 if x == 'January' else 0)

In [46]:
# DataFrameNew['arrival_in_jan'].sample(10)

In [47]:
DataFrameNew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87389 entries, 0 to 119389
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87389 non-null  object
 1   is_canceled                     87389 non-null  int64
 2   lead_time                       87389 non-null  int64
 3   arrival_date_year               87389 non-null  int64
 4   arrival_date_month              87389 non-null  int64
 5   arrival_date_week_number        87389 non-null  int64
 6   arrival_date_day_of_month       87389 non-null  int64
 7   stays_in_weekend_nights         87389 non-null  int64
 8   stays_in_week_nights            87389 non-null  int64
 9   adults                          87389 non-null  int64
 10  children                        87389 non-null  float64
 11  babies                          87389 non-null  int64
 12  meal                            87389 non-null  object
 13  country                         87389 non-null  object
 14  market_segment                  87389 non-null  object
 15  distribution_channel            87389 non-null  object
 16  is_repeated_guest               87389 non-null  int64
 17  previous_cancellations          87389 non-null  int64
 18  previous_bookings_not_canceled  87389 non-null  int64
 19  reserved_room_type              87389 non-null  object
 20  assigned_room_type              87389 non-null  object
 21  booking_changes                 87389 non-null  int64
 22  deposit_type                    87389 non-null  object
 23  agent                           87389 non-null  float64
 24  days_in_waiting_list            87389 non-null  int64
 25  customer_type                   87389 non-null  object
 26  adr                             87389 non-null  float64
 27  required_car_parking_spaces     87389 non-null  int64
 28  total_of_special_requests       87389 non-null  int64
 29  reservation_status              87389 non-null  object
 30  reservation_status_date         87389 non-null  datetime64[ns]
 31  total_nights                    87389 non-null  int64
 32  is_repeated_guest_category      87389 non-null  object
 33  month_of_reservation_status     87389 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(18), object(12)
memory usage: 23.3+ MB

# Advanced Data Preprocessing

In [48]:
DataFrameNew.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,is_repeated_guest_category,month_of_reservation_status
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,No,July
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,No,July
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,No,July
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,No,July
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,No,July
6,Resort Hotel,0,0,2015,7,27,1,0,2,2,...,0,Transient,107.0,0,0,Check-Out,2015-07-03,2,No,July
7,Resort Hotel,0,9,2015,7,27,1,0,2,2,...,0,Transient,103.0,0,1,Check-Out,2015-07-03,2,No,July
8,Resort Hotel,1,85,2015,7,27,1,0,3,2,...,0,Transient,82.0,0,1,Canceled,2015-05-06,3,No,May
9,Resort Hotel,1,75,2015,7,27,1,0,3,2,...,0,Transient,105.5,0,0,Canceled,2015-04-22,3,No,April
10,Resort Hotel,1,23,2015,7,27,1,0,4,2,...,0,Transient,123.0,0,0,Canceled,2015-06-23,4,No,June

In [50]:
DataFrameNew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87389 entries, 0 to 119389
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87389 non-null  object
 1   is_canceled                     87389 non-null  int64
 2   lead_time                       87389 non-null  int64
 3   arrival_date_year               87389 non-null  int64
 4   arrival_date_month              87389 non-null  int64
 5   arrival_date_week_number        87389 non-null  int64
 6   arrival_date_day_of_month       87389 non-null  int64
 7   stays_in_weekend_nights         87389 non-null  int64
 8   stays_in_week_nights            87389 non-null  int64
 9   adults                          87389 non-null  int64
 10  children                        87389 non-null  float64
 11  babies                          87389 non-null  int64
 12  meal                            87389 non-null  object
 13  country                         87389 non-null  object
 14  market_segment                  87389 non-null  object
 15  distribution_channel            87389 non-null  object
 16  is_repeated_guest               87389 non-null  int64
 17  previous_cancellations          87389 non-null  int64
 18  previous_bookings_not_canceled  87389 non-null  int64
 19  reserved_room_type              87389 non-null  object
 20  assigned_room_type              87389 non-null  object
 21  booking_changes                 87389 non-null  int64
 22  deposit_type                    87389 non-null  object
 23  agent                           87389 non-null  float64
 24  days_in_waiting_list            87389 non-null  int64
 25  customer_type                   87389 non-null  object
 26  adr                             87389 non-null  float64
 27  required_car_parking_spaces     87389 non-null  int64
 28  total_of_special_requests       87389 non-null  int64
 29  reservation_status              87389 non-null  object
 30  reservation_status_date         87389 non-null  datetime64[ns]
 31  total_nights                    87389 non-null  int64
 32  is_repeated_guest_category      87389 non-null  object
 33  month_of_reservation_status     87389 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(18), object(12)
memory usage: 23.3+ MB

In [51]:
numerical_cols = DataFrameNew.select_dtypes(include=['int64', 'float64']).columns.to_list()

In [ ]:
def remove_outliers_iqr(df, columns, x):
    df_clean = df.copy()
    for col in columns:
        Q1 = df_clean[col].quantile(0.25)
        Q3 = df_clean[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - x * IQR # 1.5
        upper_bound = Q3 + x * IQR # 1.5
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]
    return df_clean

In [67]:
df_no_outliers = remove_outliers_iqr(DataFrameNew, numerical_cols, 2)

In [66]:
df_no_outliers

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,is_repeated_guest_category,month_of_reservation_status
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,No,July
6,Resort Hotel,0,0,2015,7,27,1,0,2,2,...,0,Transient,107.00,0,0,Check-Out,2015-07-03,2,No,July
7,Resort Hotel,0,9,2015,7,27,1,0,2,2,...,0,Transient,103.00,0,1,Check-Out,2015-07-03,2,No,July
8,Resort Hotel,1,85,2015,7,27,1,0,3,2,...,0,Transient,82.00,0,1,Canceled,2015-05-06,3,No,May
9,Resort Hotel,1,75,2015,7,27,1,0,3,2,...,0,Transient,105.50,0,0,Canceled,2015-04-22,3,No,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119384,City Hotel,0,21,2017,8,35,30,2,5,2,...,0,Transient,96.14,0,2,Check-Out,2017-09-06,7,No,September
119385,City Hotel,0,23,2017,8,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,No,September
119387,City Hotel,0,34,2017,8,35,31,2,5,2,...,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,No,September
119388,City Hotel,0,109,2017,8,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,No,September
119389,City Hotel,0,205,2017,8,35,29,2,7,2,...,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,No,September

In [68]:
from sklearn.preprocessing import MinMaxScaler

In [69]:
df_minmax_scaled = df_no_outliers.copy()

In [71]:
min_max_scale = MinMaxScaler()

In [72]:
df_minmax_scaled[numerical_cols] = min_max_scale.fit_transform(df_no_outliers[numerical_cols])

In [78]:
df_minmax_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights
count,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.0,41264.0,...,41264.0,41264.0,41264.0,41264.000000,41264.0,41264.000000,41264.0,41264.000000,41264,41264.000000
mean,0.313978,0.229539,0.612313,0.492368,0.491431,0.491466,0.254901,0.289712,0.0,0.0,...,0.0,0.0,0.0,0.149445,0.0,0.440982,0.0,0.233456,2016-09-01 10:09:47.669639168,0.329728
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,2014-11-18 00:00:00,0.000000
25%,0.000000,0.050992,0.500000,0.272727,0.288462,0.233333,0.000000,0.111111,0.0,0.0,...,0.0,0.0,0.0,0.016949,0.0,0.328947,0.0,0.000000,2016-03-22 00:00:00,0.181818
50%,0.000000,0.161473,0.500000,0.454545,0.500000,0.500000,0.250000,0.222222,0.0,0.0,...,0.0,0.0,0.0,0.016949,0.0,0.422368,0.0,0.333333,2016-09-09 00:00:00,0.272727
75%,1.000000,0.354108,1.000000,0.727273,0.692308,0.766667,0.500000,0.444444,0.0,0.0,...,0.0,0.0,0.0,0.333333,0.0,0.548246,0.0,0.333333,2017-03-06 00:00:00,0.454545
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,1.000000,0.0,1.000000,2017-09-10 00:00:00,1.000000
std,0.464113,0.219232,0.341537,0.276249,0.258275,0.295604,0.227817,0.181631,0.0,0.0,...,0.0,0.0,0.0,0.203074,0.0,0.170572,0.0,0.259922,NaN,0.193691

In [79]:
from sklearn.preprocessing import StandardScaler

In [80]:
std_scaler = StandardScaler()

In [81]:
df_std_scaled = df_no_outliers.copy()
df_std_scaled[numerical_cols] = std_scaler.fit_transform(df_no_outliers[numerical_cols])

In [82]:
df_std_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights
count,4.126400e+04,4.126400e+04,4.126400e+04,4.126400e+04,4.126400e+04,4.126400e+04,4.126400e+04,4.126400e+04,41264.0,41264.0,...,41264.0,41264.0,41264.0,4.126400e+04,41264.0,4.126400e+04,41264.0,4.126400e+04,41264,4.126400e+04
mean,2.892865e-17,-6.405630e-17,-7.430806e-14,1.074493e-16,-4.545931e-17,-1.102044e-17,6.599348e-17,4.967807e-17,0.0,0.0,...,0.0,0.0,0.0,2.066332e-18,0.0,-1.308677e-16,0.0,-6.750018e-17,2016-09-01 10:09:47.669639168,-2.935914e-17
min,-6.765204e-01,-1.047028e+00,-1.792838e+00,-1.782354e+00,-1.902764e+00,-1.662604e+00,-1.118901e+00,-1.595076e+00,0.0,0.0,...,0.0,0.0,0.0,-7.359256e-01,0.0,-2.585339e+00,0.0,-8.981884e-01,2014-11-18 00:00:00,-1.702360e+00
25%,-6.765204e-01,-8.144338e-01,-3.288507e-01,-7.950922e-01,-7.858739e-01,-8.732500e-01,-1.118901e+00,-9.833279e-01,0.0,0.0,...,0.0,0.0,0.0,-6.524614e-01,0.0,-6.568239e-01,0.0,-8.981884e-01,2016-03-22 00:00:00,-7.636478e-01
50%,-6.765204e-01,-3.104794e-01,-3.288507e-01,-1.369177e-01,3.317864e-02,2.886894e-02,-2.151477e-02,-3.715796e-01,0.0,0.0,...,0.0,0.0,0.0,-6.524614e-01,0.0,-1.091256e-01,0.0,3.842630e-01,2016-09-09 00:00:00,-2.942916e-01
75%,1.478152e+00,5.682104e-01,1.135136e+00,8.503442e-01,7.777718e-01,9.309878e-01,1.075871e+00,8.519170e-01,0.0,0.0,...,0.0,0.0,0.0,9.055360e-01,0.0,6.288528e-01,0.0,3.842630e-01,2017-03-06 00:00:00,6.444206e-01
max,1.478152e+00,3.514406e+00,1.135136e+00,1.837606e+00,1.969121e+00,1.720342e+00,3.270643e+00,3.910659e+00,0.0,0.0,...,0.0,0.0,0.0,4.188459e+00,0.0,3.277347e+00,0.0,2.949166e+00,2017-09-10 00:00:00,3.460557e+00
std,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,0.0,0.0,...,0.0,0.0,0.0,1.000012e+00,0.0,1.000012e+00,0.0,1.000012e+00,NaN,1.000012e+00

In [83]:
from sklearn.preprocessing import RobustScaler

In [84]:
robust_scale = RobustScaler()

In [91]:
df_robust_scaled = df_no_outliers.copy()
df_robust_scaled[numerical_cols] = robust_scale.fit_transform(df_no_outliers[numerical_cols])

In [93]:
df_robust_scaled.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights
count,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.000000,41264.0,41264.0,...,41264.0,41264.0,41264.0,41264.000000,41264.0,41264.000000,41264.0,41264.000000,41264,41264.000000
mean,0.313978,0.224555,0.224627,0.083211,-0.021219,-0.016001,0.009803,0.202469,0.0,0.0,...,0.0,0.0,0.0,0.418782,0.0,0.084878,0.0,-0.299632,2016-09-01 10:09:47.669639168,0.209004
min,0.000000,-0.532710,-1.000000,-1.000000,-1.238095,-0.937500,-0.500000,-0.666667,0.0,0.0,...,0.0,0.0,0.0,-0.053571,0.0,-1.926000,0.0,-1.000000,2014-11-18 00:00:00,-1.000000
25%,0.000000,-0.364486,0.000000,-0.400000,-0.523810,-0.500000,-0.500000,-0.333333,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,-0.426000,0.0,-1.000000,2016-03-22 00:00:00,-0.333333
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,2016-09-09 00:00:00,0.000000
75%,1.000000,0.635514,1.000000,0.600000,0.476190,0.500000,0.500000,0.666667,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.574000,0.0,0.000000,2017-03-06 00:00:00,0.666667
max,1.000000,2.766355,1.000000,1.200000,1.238095,0.937500,1.500000,2.333333,0.0,0.0,...,0.0,0.0,0.0,3.107143,0.0,2.634000,0.0,2.000000,2017-09-10 00:00:00,2.666667
std,0.464113,0.723261,0.683074,0.607749,0.639539,0.554257,0.455634,0.544893,0.0,0.0,...,0.0,0.0,0.0,0.641857,0.0,0.777810,0.0,0.779766,NaN,0.710201

In [96]:
# .corr()
DataFrameNew[numerical_cols].corr()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_nights
is_canceled,1.000000,0.184772,0.088021,0.003735,0.001469,0.005317,0.060159,0.082886,0.081775,0.067355,...,-0.089654,0.051464,-0.052160,-0.093664,-0.000920,0.004461,0.127974,-0.184224,-0.120567,0.084059
lead_time,0.184772,1.000000,0.139123,0.106216,0.101195,0.009852,0.235109,0.310088,0.140439,0.028630,...,-0.147021,0.005369,-0.078941,0.077005,0.080425,0.132151,0.023533,-0.086564,0.034213,0.318228
arrival_date_year,0.088021,0.139123,1.000000,-0.499849,-0.514194,-0.010073,0.005127,0.003623,0.038573,0.041153,...,0.024339,-0.054217,0.027255,0.008596,-0.001902,-0.027943,0.176063,-0.039816,0.064246,0.004607
arrival_date_month,0.003735,0.106216,-0.499849,1.000000,0.995084,0.000827,0.027150,0.031778,0.027170,0.013659,...,-0.037727,0.007546,-0.021713,0.011751,0.020768,0.012763,0.103543,0.007330,0.049607,0.033754
arrival_date_week_number,0.001469,0.101195,-0.514194,0.995084,1.000000,0.093641,0.026901,0.027842,0.024429,0.013464,...,-0.036853,0.007202,-0.020816,0.011919,0.019624,0.013847,0.098341,0.008959,0.046622,0.030735
arrival_date_day_of_month,0.005317,0.009852,-0.010073,0.000827,0.093641,1.000000,-0.017801,-0.028216,-0.001143,0.015816,...,-0.004181,-0.008540,0.000150,0.006300,0.006122,0.006587,0.022597,0.009162,-0.001667,-0.027615
stays_in_weekend_nights,0.060159,0.235109,0.005127,0.027150,0.026901,-0.017801,1.000000,0.555543,0.088232,0.028545,...,-0.106963,-0.020641,-0.056660,0.050297,0.158358,-0.031685,0.038926,-0.042938,0.032365,0.786258
stays_in_week_nights,0.082886,0.310088,0.003623,0.031778,0.027842,-0.028216,0.555543,1.000000,0.095519,0.030458,...,-0.113562,-0.018788,-0.058513,0.085020,0.190033,0.001899,0.053285,-0.044327,0.037809,0.950575
adults,0.081775,0.140439,0.038573,0.027170,0.024429,-0.001143,0.088232,0.095519,1.000000,0.023691,...,-0.171739,-0.042106,-0.120928,-0.048093,0.029570,-0.015746,0.248939,0.007780,0.112755,0.103930
children,0.067355,0.028630,0.041153,0.013659,0.013464,0.015816,0.028545,0.030458,0.023691,1.000000,...,-0.045656,-0.019210,-0.029426,0.031304,0.042026,-0.020420,0.326302,0.036325,0.044590,0.033293
babies,-0.020548,-0.003620,-0.023338,0.014119,0.014265,-0.000395,0.013663,0.016002,0.016634,0.017421,...,-0.012979,-0.005395,-0.009193,0.081032,0.028947,-0.006840,0.023444,0.030882,0.094821,0.016994
is_repeated_guest,-0.089654,-0.147021,0.024339,-0.037727,-0.036853,-0.004181,-0.106963,-0.113562,-0.171739,-0.045656,...,1.000000,0.206373,0.441455,0.006041,-0.065071,-0.012817,-0.153056,0.072015,-0.001326,-0.124333
previous_cancellations,0.051464,0.005369,-0.054217,0.007546,0.007202,-0.008540,-0.020641,-0.018788,-0.042106,-0.019210,...,0.206373,1.000000,0.392064,-0.010271,-0.032910,0.003681,-0.050273,-0.003401,0.001869,-0.021670
previous_bookings_not_canceled,-0.052160,-0.078941,0.027255,-0.021713,-0.020816,0.000150,-0.056660,-0.058513,-0.120928,-0.029426,...,0.441455,0.392064,1.000000,0.005417,-0.058040,-0.006304,-0.085730,0.040869,0.027110,-0.064641
booking_changes,-0.093664,0.077005,0.008596,0.011751,0.011919,0.006300,0.050297,0.085020,-0.048093,0.031304,...,0.006041,-0.010271,0.005417,1.000000,0.022885,0.024202,0.002540,0.048709,0.016106,0.081962
agent,-0.000920,0.080425,-0.001902,0.020768,0.019624,0.006122,0.158358,0.190033,0.029570,0.042026,...,-0.065071,-0.032910,-0.058040,0.022885,1.000000,-0.015251,0.008541,0.121966,0.033160,0.200352
days_in_waiting_list,0.004461,0.132151,-0.027943,0.012763,0.013847,0.006587,-0.031685,0.001899,-0.015746,-0.020420,...,-0.012817,0.003681,-0.006304,0.024202,-0.015251,1.000000,-0.033006,-0.016069,-0.049548,-0.010421
adr,0.127974,0.023533,0.176063,0.103543,0.098341,0.022597,0.038926,0.053285,0.248939,0.326302,...,-0.153056,-0.050273,-0.085730,0.002540,0.008541,-0.033006,1.000000,0.039111,0.137804,0.054134
required_car_parking_spaces,-0.184224,-0.086564,-0.039816,0.007330,0.008959,0.009162,-0.042938,-0.044327,0.007780,0.036325,...,0.072015,-0.003401,0.040869,0.048709,0.121966,-0.016069,0.039111,1.000000,0.048448,-0.048975
total_of_special_requests,-0.120567,0.034213,0.064246,0.049607,0.046622,-0.001667,0.032365,0.037809,0.112755,0.044590,...,-0.001326,0.001869,0.027110,0.016106,0.033160,-0.049548,0.137804,0.048448,1.000000,0.040183
total_nights,0.084059,0.318228,0.004607,0.033754,0.030735,-0.027615,0.786258,0.950575,0.103930,0.033293,...,-0.124333,-0.021670,-0.064641,0.081962,0.200352,-0.010421,0.054134,-0.048975,0.040183,1.000000